 body{
  min-width: 1035px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: #ffffff;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.bigger-container{
  width: 1015px;
  margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.header-page{
  background: url("./img/wheat-back.jpg") no-repeat;
  background-position: bottom ;
  background-size: cover; 
  padding-top: 60px;
  height: 490px;
  color: #c3c3c3;
  background-color: #363636;
  /*margin: 0;
  padding: 0;
  min-height: 550px;
  padding-top: 60px;
  color: #c3c3c3;
  background-color: #363636;
  background-image: url("./img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom*/
}

.main-nav__logo{
  float: left;
  width: 140px;
  height: 76px;
  
}

.main-nav__logo img{
  width: 140px;
  height: 76px;
}

.main-nav{
  margin: 0 auto;
  margin-bottom: 120px;
}

.main-nav_list{
  margin: 10px 0 0 60px;
  padding: 0;
  width: 600px;
  float: left;
  list-style: none;
  border-top: 1px solid rgba(255, 203, 120, 0.3);
  border-bottom: 1px solid rgba(255, 203, 120, 0.3);
}

.main-nav__list-item{
  padding-top: 21px;
  padding-bottom: 20px;
  padding-right: 54px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav__list-item:last-child{
  padding-right: 0;
}

.main-nav__list-item a{
  text-decoration: none;
  color: white;
}

.main-nav__list-item a:hover{
  color: #ffcb78;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.main-nav__list-item a:active{
  color: rgba(255, 203, 120, 0.3);
}

.promo {
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  font-family: "Arial", serif;
  text-align: center;
  color: white;
} 
/*new collection */

.new-collection{
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section__title{
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 75px;
}
/*
.new-collection_list{
  margin: 10px;
  padding: 10px;
}*/

.new-collection__item{
  position: relative;
  float: left;
  width: 398px;
  height: 759px;
  margin: 0;
  padding: 0;
}

.new-collection__item img{
  margin: 30px 0 0 44px;
  width: 319px;
  height: auto;
}

.new-collection__item:first-child{
  margin-left: 1px;
  margin-right: 1px;
}

.drink-item_table{
  position: absolute;  
  border-collapse: collapse;
  text-align: left;
  top: 85px; /*correct*/
  right: 25px;
  z-index: 1;
}

.drink-item_table td{
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.drink-item_table th,
.drink-item_table td {  
  padding: 0 17px;
}

.drink-item__title{
  margin: 0;
  margin-left: 34px;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
}


.drink-item__compaund-describtion{
  position: absolute;
  top: 164px;
  right: 5px;
  width: 170px;
  word-wrap: break-word;
  line-height: 24px;
  font-size: 14px;
  z-index: 1;
}

.drink-item__description{
  max-width: 330px;
  font: inherit;
  line-height: 30px;
  color: #404040;
  margin: 7px 0 60px 34px;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 142px;
  padding: 5px;
  font: inherit;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  color: #834700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border: 2px solid #844802;
}

.new-collection__item .buy-item{
  width: 78px;
  background-color: #834700;
  color: #ffffff;
  padding: 13px 14px;
  margin-left: 4px;
}

.new-collection__item .buy-item:hover,
.btn-send-order:hover{
  background-color: #693900;
  border-color: #693900;
}

.new-collection__item .buy-item:active,
.btn-send-order:active{
  background-color: #693900;
  border-color: #693900;
  color: #96754d;
}

.new-collection__item .info-item{
  margin-left: 34px;
  color: #834700;
  background-color: #ffffff;
  width: 114px;
  padding: 13px 14px;
}

.new-collection__item .info-item:hover{
  border-color: #693900;
  color: #6a3900;
}

.new-collection__item .info-item:active{
  border-color: #d2c3b2;
  color: #d2c3b2;
}

.price-item{
  float: right;
  margin: 0;
  margin-right: 35px;
  margin-top: 15px;
  color: #000000;
  line-height: 20px;
  padding: 0;
}

/*features*/

.features{
  margin: 0;
  /*margin-top: 80px;*/
  background-color: #ffca78;
}
.features__list{
  margin: 0;
  padding: 80px 0 85px 0;
  list-style: none;
}

.features__item{
  margin: 0;
  padding: 0;
  position: relative;
  padding-right: 100px;
  border-right: 1px solid #e5b56b;
  float: left;
  text-align: left;
  width: 205px;
  height: 240px;
}

.feature-item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 70px;
  background-image: url("./img/icon-brew.png");
  background-repeat: no-repeat;
}

.feature-self-made{
  background: url("./img/icon-brew.png") left top no-repeat;
}

.feature-self-product{
  background: url("./img/icon-matreshka.png") 97px top no-repeat;
}

.feature-quality{
  background: url("./img/icon-thumbsup.png") 97px top no-repeat;  /*вместо лефт 97*/
}

.features__item:nth-child(2){
  width: 211px;
  padding-left: 95px;
  padding-right: 95px;
}

.features__item:last-child{
  margin: 0;
  padding-right: 0;
  padding-left: 95px;
  border-right: 0;
  width: 211px;
  float: right;
}

.features__item h2{
  margin: 0;
  padding: 0;
  margin-top: 80px;
  padding: 20px 0;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
}

.features__item p{
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 30px;
  color: 404040;

}

/*kvast-history*/

.kvast-history{
  margin:0;
  margin: 80px 0;
  background-color: #ffffff;
}

.kvast-history .section__title{
  margin-bottom: 60px;
}

.history-reference{
  margin: 0;
  padding: 0;
} 

.history-reference dd img{
  position: absolute;
  top: 10px;
  right: 0;
  width: 200px;
  height: 101px;
  border-radius: 1px;
}

.reference-title{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.reference-source{
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
  text-transform: none;
  color: #444444;
  float: right;
}

.reference-source a {
  color: #834700;
}

.reference-source a:hover {
  color: #6a3900;
}

.reference-source a:active {
  color: #cab7a2;
}

.history-reference dd{
  min-height: 120px;
  margin: 0;
  padding: 0;
  padding-right: 310px;
  margin-bottom: 60px;
  position: relative;
}

.history-reference dd p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #404040;
}

.history-reference dd:last-child{
  margin: 0;
}

/*reviews*/

.reviews{
  padding: 80px 0 90px 0;
  background-color: rgb(237, 228, 215);
}

.reviews__quote p{
  width: 690px;
  /*height: 90px;*/
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
}

.reviews__quote{
  margin: 0;
  padding: 0;
  position: relative;
}

.quotes__sign{
  position: absolute;
  top: 0;
  left: -105px;
  width: 50px;
  height: 50px;
  background-image: url("./img/quotes.png");
  background-repeat: no-repeat;
}

.reviews__author{
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-style: bold;
  line-height: 30px;
  text-transform: uppercase;  
  margin-top: 45px;
  color: #000000;
}

.to-read-next{
  display: inline-block;
  width: 124px;
  /*height: 46px;*/
  border: 2px solid #a59f96;
  margin-top: 35px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #a59f96;
  background-color: rgb(237, 228, 215);
}

.to-read-next:hover{
  color: #ffffff;
  background-color: #a59f97;
  border-color: #a59f97;
}

.to-read-next:active{
  color: #b1ada6;
  background-color: #8f8980;
  border-color: #8f8980;
}

/*assortment*/

.assortment{
  margin-top: 90px;
  margin-bottom: 90px;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list tr {
  border: 1px solid white;
}

.price-list tr:first-child {
  border: none;
}

.price-list th {
  font-weight: normal;
  font-size: 11px;
  padding: 0 0 30px 0;
  text-align: left;
  text-transform: uppercase;
  color: #999999;
}

.price-list td {
  padding: 17px 0;
}

.price-list .price__name{
  width: 400px;
  text-align: left;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.price-list .price__name td{
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.price-list .price__percent{
  width: 90px;
  text-align: left;
}

.price-list .price__kkal{
  width: 60px;

}
.price-list .price__size{
  width: 170px;
}

.price-list .prcie__cost{
  width: 72px;
  text-align: right;
}

.new-assortment-item{
  font-size: 8px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  padding: 2px 5px;
  margin-left: 20px;
  border-radius: 2px;
}

/*BOOKING*/

.booking{
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: #ffca78;
}

.booking-form-group{
  margin-bottom: 25px;
}

.booking-form{
  width: 630px;
}

.booking-form-group label{
  display: inline-block;
  padding-bottom: 10px; 
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;
}

.booking-form-left-side,
.booking-form-right-side{
  width: 290px;
}

.booking-form-left-side{
  float: left;
}

.booking-form-right-side{
  float: right;
}

.booking-form input[type="text"],
.booking-form select,
.booking-form textarea {
  font: inherit;
  font-weight: bold;
  box-sizing: border-box;  
  padding: 15px 0 15px 20px;
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color:#e5b56c;
}

.booking-form input[type="text"]:hover,
.booking-form select:hover,
.booking-form textarea:hover {
  background-color:#d9ac66;
  border: none;
}

.booking-form input[type="text"]:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  background-color:#ffffff;
  border-color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.checkbox-area{
  padding-right: 15px;
}

.booking-form-group textarea {
  display: block;
  min-height: 120px;
  margin-bottom: 35px;
}


/*.booking-form-label {
  padding-top: 14px;
}

.booking-form-label__input {
  padding: 14px 0;
}


.booking-form-label__contact{
  width: 290px;
  float: left;
  padding-right: 50px;
}

.booking-form-input__contact input[type="text"]{
  float: left;
  width: 290px;
}*/

.booking p{
  line-height: 30px;
  color: #404040;
  margin-bottom: 70px;
  margin-right: 140px;
}

.btn-send-order{
  padding: 10px 20px 10px 20px;
  width: 200px;
  background-color: #834600;
  color: #ffffff;
}


/*FOOTER*/

.page-footer{
  padding-top: 60px;  
  padding-bottom: 80px;
  background-color: #000000;
}

.footer-nav{
  margin: 0 auto;
}

.footer-logo__link{
  margin-left: 37px;
  float: left;
  width: 140px;
  height: 76px;
}

.footer-logo__link img{
  width: 140px;
  height: 76px;
}

.about-kvast__menu{
  margin: 7px 0 0 131px;
  padding: 0;
  width: 600px;
  float: left;
  list-style: none;
  border-top: 1px solid rgba(51, 51, 51);
  border-bottom: 1px solid rgba(51, 51, 51);
}

.about-kvast__item{
  padding-top: 21px;
  padding-bottom: 20px;
  padding-right: 54px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

.about-kvast__item:last-child{
  padding-right: 0;
}

.about-kvast__item a{
  text-decoration: none;
  color: white;
}

.about-kvast__item a:hover{
  color: #ffcb78;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.about-kvast__item a:active{
  color: rgba(255, 203, 120, 0.3);
}

.footer-bottom{
  margin-top: 47px;
}

.footer-socials{
  font-size: 0;
  float: left;
  height: 68px;
  width: 216px;
}

.socials-btn{
  display: inline-block;
  width: 69px;
  height: 66px;
  vertical-align: middle;
  background-color: #1b1b1b;
  border: 1px solid #322d24;
  border-collapse: collapse;
}

.socials-instargram{
  background-image: url("./img/insta-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.socials-facebook{
  background-image: url("./img/fb-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.socials-vk{
  background-image: url("./img/vk-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.socials-btn:hover{
  border-color: #615138;
}

.socials-btn:active{
  border-color: #272119;
  background-color: #0e0e0e;
}

.socials-instargram:active{
  background-image: url("./img/insta-icon-active.png");
}

.socials-facebook:active{
  background-image: url("./img/fb-icon-active.png");
}

.socials-vk:active{
  background-image: url("./img/vk-icon-active.png");
}

.footer-bottom p{
  margin: 12px 0 0 91px;
  display: inline-block;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  word-wrap: break-word;
  color: #989898;
}

.footer-copyright{
  float: right;
  height: 68px;
  width: 300px;
  margin-right: 8px;
}

.footer-copyright span img{
  margin-top: 16px;
  margin-left: 21px;
}

.footer-copyright b,
.footer-copyright a{
  font-size: 14px;
  line-height: 20px;
  color: #989898;
}

.footer-copyright b{
  margin-left: 30px;
}

.footer-copyright a{
  text-decoration: none;
}

/*.press-talks__author{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
}*/


/*.new-collection h2{
  margin: 0;
  margin-top: 90px;
  padding: 0;
  font-size: 40px;
  line-height: 61px;
  text-transform: uppercase;
  color: #000000;
}

.new-collection__item{
  margin-top: 50px;
}*/

